<template>
  <div class="todo">
    <div class="card text-left">
      <div class="d-flex card-header justify-content-between btn-group-vertical">
        <button class="btn btn-primary" @click="modalShow=true">Add new task</button>
      </div>
      <div class="card-body">
        <h5 class="card-title">My tasks</h5>
        <div class="card-text">
          <div class="modal fade"
               :class="{'d-block show':modalShow}"
               id="exampleModal" tabindex="-1" role="dialog"
               aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Add task</h5>
                  <button type="button" class="close" aria-label="Close" @click="modalShow=false">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form>
                    <div class="form-group">
                      <label for="task-title">Task title</label>
                      <input v-model="model.title" type="text" class="form-control" id="task-title"
                             aria-describedby="emailHelp">
                    </div>
                    <div class="form-group">
                      <label for="task-desc">Task description</label>
                      <textarea v-model="model.description" class="form-control" id="task-desc"></textarea>
                    </div>
                    <div class="form-group">
                      <label for="task-priority">Task priority</label>
                      <select class="form-control" id="task-priority" v-model="model.taskPriority">
                        <option value="" selected disabled>Please select</option>
                        <option v-for="(item, index) in priorityList" :key="index" :value="item">{{item.text}}</option>
                      </select>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" @click="modalShow=false">Close</button>
                  <button type="submit" class="btn btn-primary"
                          @click="modalShow=false"
                          @click.prevent="submit"
                          :disabled="!isValid">Submit</button>
                </div>
              </div>
            </div>
          </div>

          <ul class="pt-3">
            <li v-for="(item, index) in filteredTaskList" :key="index" class="d-flex justify-content-between mb-3">
              <div :style="{color: item.taskPriority.color}">
                <h4 v-if="item.status === 'completed'"><s>{{item.title}}</s></h4>
                <h4 v-else>{{item.title}}</h4>
                <p>{{item.description}}</p>
              </div>
              <button class="btn btn-primary" @click="item.status = 'completed' ">Compled</button>
            </li>
          </ul>
        </div>
        <div class="card-footer">
          <button class="btn" :class="{'btn-primary':!filterStatus}" @click="filterStatus = ''">All</button>
          <button class="btn" :class="{'btn-primary': filterStatus === 'completed'}"
                  @click="filterStatus = 'completed'">Completed
          </button>
          <button class="btn" :class="{'btn-primary': filterStatus === 'incompleted'}"
                  @click="filterStatus = 'incompleted'">InCompleted
          </button>
          Active tasks count: {{ taskList.length }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import {Task} from '../models/task';

  export default {
    name: "ToDo",
    props: {},
    data: () => {
      return {
        model: new Task(),
        priorityList: Task.PRIORITY_LIST,
        taskList: [],
        filterStatus: "",
        modalShow: false
      }
    },
    methods: {
      submit() {
        this.taskList.push(this.model);
        this.model = new Task();
      }
    },
    watch: {
      message() {
        console.log("Message changed");
      }
    },
    computed: {
      messageLength() {
        return ("" + this.message).length;
      },
      isValid() {
        return this.model.title && this.model.description && this.model.taskPriority;
      },
      filteredTaskList() {
        return this.taskList.filter((item) => {
          if (!this.filterStatus) return true;
          return item.status === this.filterStatus;
        });
      }
    }

  }
</script>

<style scoped>
  .todo {
    background-color: aqua;
  }
</style>
